//COLORS
$blue: #36a1eb;
$blue-alt: lighten($blue, 10%);
$green: #4ac0c0;
$yellow: #fdcd6e;
$red: #ff6284;
$red-alt: darken(#ff6284, 10%);
$purple: #a158e5;
$teal: #58cce5;
$orange: #fa9354;
$pink: #ff9ec7;
$gray-500: #333538;
$gray-400: #6b6f74;
$gray-300: #999999;
$gray-200: #e5e5e5;
$gray-100: #f2f2f2;
$theme-white: #ffffff;

$fontHeader: 'Fieldwork Geo', sans-serif;
$fontBody: 'Inter', sans-serif;

$base: all 0.3s ease-in-out;